.moves {
    height: calc(50vh - 75px);
    box-sizing: border-box;
    padding: 0px 10px;
    overflow-y: scroll;
}

.move-container {
    box-sizing: border-box;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

@media(min-width: 700px){
    .moves {
        height: 100%;
        background: #7371FC;
        border-radius: 20px;
        padding: 0 3%;
        box-shadow: 3px 3px 5px darkgray;
        grid-area: moves;
    }
}