.moves {
    max-height: calc(50vh - 75px);
    box-sizing: border-box;
    padding: 0px 10px;
    overflow-y: scroll;
}

.move-container {
    box-sizing: border-box;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

@media(min-width: 700px){
    .moves {
        height: 30vh;
        width: 30vw;
        background: snow;
        border-radius: 20px;
        padding: 0 3%;
        box-sizing: content-box;
    }
}