.landing {
    padding: 15px;
}

.landing h1 {
    margin-left: 6%;
}

.search-input {
    height: 35px;
    width: 90%;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 20px;
    margin: 10px 0px;
    padding: 0px 10px;
    font-size: 16px;
    outline: none;
}

.poke-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.landing-link {
    height: 160px;
    width: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    background: #7371FC;
    color: white;
    border-radius: 15px;
    margin: 7px;
    box-shadow: 3px 3px 5px darkgray;
    overflow: hidden;
}

.landing-link:hover {
    background: #9C9AFF;
}

.bubble-style {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: -30px;
    background: white;
    opacity: .3;
}

.poke-number {
    position: absolute;
    top: 5px;
    right: 10px;
}

.poke-image {
    height: 100px;
    position: relative;
    z-index: 2;
}

.landing-link p {
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}

.pokeball-icon {
    height: 110px;
    position: absolute;
    bottom: -25px;
    right: -20px;
    opacity: .4;
}

@media(min-width: 750px){
    .landing-link {
        height: 225px;
        width: 200px;
    }

    .bubble-style {
        height: 115px;
        width: 115px;
        top: -40px;
        left: -40px;
    }

    .poke-image {
        height: 125px;
    }
}

@media(min-width: 1000px){
    .search-input {
        width: 89%;
    }

    .landing-link {
        width: 195px;
    }
}