.about {
    height: calc(50vh - 75px);
    padding: 0px 3%;
}

.about h1 {
    display: none;
}

.about-flex {
    display: flex;
    flex-direction: column;
}

.about p {
    line-height: 25px;
}

.height-weight {
    min-height: 60px;
    width: 92%;
    box-sizing: border-box;
    padding: 0px 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 12px 25px -6px gray;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
}

.height-weight p {
    margin: 0px;
    text-align: left;
}

.size-prompt {
    color: gray;
    font-weight: bold;
}

@media(min-width: 700px){
    .about {
        height: 100%;
        background: #7371FC;
        box-sizing: border-box;
        padding: 4%;
        border-radius: 20px;
        box-shadow: 3px 3px 5px darkgray;
        grid-area: about;
        font-size: 18px;
    }

    .about h1 {
        display: inherit;
    }
    
    .about-flex {
        height: 70%;
        justify-content: center;
    }

    .height-weight {
        color: black;
    }

    .height-weight section {
        margin: 1% 0px;
    }
}