.header-flex {
    height: 40px;
    box-sizing: border-box;
    padding: 10px 15px;
    position: relative;
    z-index: 2;
    display: flex;
}

@media(min-width: 700px){
    .header-flex{
        position: fixed;
        top: 0px;
    }
}