.evolution {
    box-sizing: border-box;
    padding: 20px 15px 0px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.poke-evolution {
    height: 200px;
    position: relative;
}

.evolution img {
    width: 105px;
}

.evolution p {
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
}

.evolution-arrow {
    height: 15px;
    position: absolute;
    top: 35%;
    right: -60%;
}

@media(min-width: 700px){
    .evolution {
        height: 30vh;
        width: 60vw;
        background: snow;
        border-radius: 20px;
    }
}