.evolution {
    box-sizing: border-box;
    padding: 20px 15px 0px 15px;
}

.evolution h1 {
    display: none;
}

.evolution-flex {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.poke-evolution {
    height: 200px;
    position: relative;
}

.evolution img {
    width: 105px;
}

.evolution p {
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
}

@media(min-width: 700px){
    .evolution {
        height: 100%;
        background: #7371FC;
        border-radius: 20px;
        padding: 2%;
        box-shadow: 3px 3px 5px darkgray;
        grid-area: evolution;
    }

    .evolution h1 {
        display: inherit;
    }

    .evolution-flex {
        padding: 0px 5%;
    }

    .evolution img {
        width: 125px;
    }
}