.evolution {
    box-sizing: border-box;
    padding: 20px 15px 0px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.evolution img {
    width: 105px;
}

.evolution p {
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
}